* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    display:inline-block;  
    border:1px;
    border-radius: 10px;    
    padding: 10px;
    position: relative;
    width: 480px;    
    height: 280px;
    margin-top: 10vh;
    margin-left:2vw;   
}

.image-for-card {
    position: absolute;
    top:45px;
    left: 390px;
    width: 35px;
    height: 35px;
    fill: white;
}

.pink-card {
    background: rgb(245,245,151);
    background: linear-gradient(90deg, rgba(245,245,151,1) 0%, rgba(255,178,219,1) 37%); 
}

.blue-card {
    background: rgb(149,203,252);
    background: linear-gradient(90deg, rgba(149,203,252,1) 0%, rgba(110,117,249,1) 37%); 
}

.green-card {
    background: rgb(203,250,232);
    background: linear-gradient(90deg, rgba(203,250,232,1) 0%, rgba(98,255,190,1) 37%); 
}

.h1-for-card, .h2-for-card, .h3-for-card {
    color:white;    
    position:absolute;
    left: 75px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.h1-for-card {    
    font-size: 24px;
    top:50px;
}

.h2-for-card {    
    font-size: 40px;
    top:100px;
}    

.h3-for-card {
    top:200px;
    font-size: 22px;
}

.card::before {
    content: "";
    position: absolute;
    border-radius: 180px;
    background-color: white;
    opacity: 0.3;    
    padding: 120px;
    top:-30px;
    left: 340px;
}

.card::after {
    content: "";
    position: absolute;
    border-radius: 180px;
    background-color: white;
    opacity: 0.3;
    padding: 120px;
    left: 280px;
    top:150px;
}